@use "../colors.scss";

.exo-settings-row {
    min-height: 32px;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    transition: 100ms;

    .title {
        font-weight: 400;
    }
    .description {
        color: colors.$on_surface_variant;
        opacity: 0.8;
    }

    &.switch-row {
        switch {
            all: unset;
            opacity: 1;
            background-color: colors.$surface_container_highest;
            box-shadow: inset 0px 0px 0px 2px colors.$outline;
            min-width: 52px;
            border-radius: 2rem;
            outline-offset: 2px;
            padding: 0px;
            transition: 300ms;
            slider {
                transition: 100ms;
                min-width: 16px;
                min-height: 16px;
                margin: 8px;
                margin-right: 2px;
                background-color: colors.$outline;
                box-shadow: none;
                border-radius: 50rem;
            }

            &:checked {
                box-shadow: none;
                background-color: colors.$primary;
                min-width: 52px;
                slider {
                    min-width: 24px;
                    min-height: 24px;
                    margin: 4px;
                    margin-left: -2px;
                    background-color: colors.$on_primary;
                }
            }

            &:active {
                slider {
                    min-width: 26px;
                    min-height: 26px;
                    margin: 3px;
                    margin-right: -3px;
                }

                &:checked slider {
                    margin-right: 3px;
                    margin-left: -3px;
                }
            }

            &:hover {
                &:not(:checked) {
                    background-color: mix(
                        colors.$surface_container_highest,
                        colors.$on_surface,
                        $weight: 90%,
                        $method: hsl
                    );
                }

                slider {
                    outline: 10px solid rgba(colors.$outline, 0.2);
                }

                &:checked slider {
                    outline-width: 7px;
                }

                &:active slider {
                    outline-width: 5px;
                }
            }
            transform: scale(0.8);
        }
        &:hover {
            background-color: colors.$surface_container_highest;
        }
    }
}

.exo-options-window {
    background-color: colors.$background;
    border: 1px solid rgba(colors.$outline_variant, 0.5);
    border-radius: 20px;
    padding: 8px;
    min-width: 800px;
    min-height: 600px;
    .options-window-title-bar {
        padding: 1rem 1rem;
        padding-top: 0.5rem;
        .options-window-title {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
    separator {margin: 0px 1rem;}
    .scrollable {
        background-color: colors.$surface_container;
        border-radius: 12px;
        padding: 8px;
    }
}