@use "../../colors.scss";

.left-widgets,
.center-widgets,
.right-widgets {
    padding: 2px;
    box, button:not(.active) {
        border-radius: 5px;
        background-color: transparent;
    }
}

.workspaces {
    .workspace {
        min-width: 21px;
    }
    .active {
        padding: 0px 1px;
    }
}

.quickcenter-button {
    &:hover {
        background-color: colors.$primary_container;
        color: colors.$on_primary_container;
    }
}