// Launcher
.launcher-window {
    color: colors.$on_background;
    padding: 5px;
    background-color: colors.$background;
    border-radius: 20px;

    .launcher-search {
        background-color: colors.$surface_container;
        border-radius: 15px;
        padding: 0.5rem 2rem;

        &:focus, &:focus-visible {
            outline: none;
            background-color: colors.$surface_container_high;
        }
    }

    .outer-box {
        border-radius: 15px;

        .inner-box {
            .app-row {
                &.featured-app-row {
                    .app-item {
                        outline: none;
                        background-color: colors.$surface_container;
                        border: none;
                        .app-label {
                            color: colors.$on_surface;
                        }
                    }
                }

                .app-item {
                    border-radius: 5px;
                    background-color: colors.$surface_container;
                    padding: 8px 1rem;

                    &:hover {
                        background-color: colors.$surface_container_high;
                    }

                    &:focus {
                        outline: none;
                        background-color: colors.$surface_container_high;
                        border: none;
                        .app-label {
                            color: colors.$on_surface;
                        }
                    }

                    .app-label {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
